name: Microservice B Pipeline
on: [workflow_dispatch, workflow_call]

jobs:
  build_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/build

  install:
    needs: build_workflow 
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/microservice-b/install
