name: Microservice A Pipeline
on: [workflow_dispatch, workflow_call]

jobs:
  build_workflow:
    uses: ./.github/workflows/common-build.yml

  test:
    needs: build_workflow
    uses: ./.github/workflows/microservice-a-test.yml

  install:
    needs: build_workflow 
    uses: ./.github/workflows/microservice-a-install.yml

  deploy:
    needs: [install, test]
    uses: ./.github/workflows/microservice-a-deploy.yml
