name: Pipeline - Main
on: workflow_dispatch
    
jobs:
  build_workflow:
    uses: ./.github/workflows/common-build.yml


  ######################
  # Microservice A     #
  ######################
  microservice_a_test:
    needs: build_workflow
    uses: ./.github/workflows/microservice-a-test.yml

  microservice_a_install:
    needs: build_workflow 
    uses: ./.github/workflows/microservice-a-install.yml

  microservice_a_deploy:
    needs: [microservice_a_install, microservice_a_test]
    uses: ./.github/workflows/microservice-a-deploy.yml


  ######################
  # Microservice B     #
  ######################
  microservice_b_install:
    needs: build_workflow
    uses: ./.github/workflows/microservice-b-install.yml

  microservice_b_deploy:
    needs: microservice_b_install
    runs-on: ubuntu-latest
    steps:
      - name: "Deploy microservice B"
        run: echo "cdk deploy"
